#section1{
    /* border: 2px solid red; */
    height:100vh;
    background-image: url("./images/background\ main.png");
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section1 h1{
    font-size:80px;
}
#head1{
    padding-top: 20rem;
    padding-left:12rem;
    color: #fff;
    
}

#head2{
    padding-left:12rem;
    /* border: 2px solid; */
    width:40%;
    color: #fff;
}

#head3{
    position: absolute;
    /* border: 2px solid; */
    top: 413px;
    left:540px;
    color: #00dcf7;
}
#section1 p{
  padding-left:12rem;
  font-weight: 400;
  color: #f1f1f1;
  font-size: 20px;
}

#section1 button{
    width: 200px;
    font-size: 19px;
    padding: 15px;
    cursor: pointer;
    border-radius: 0;
    border-style: solid;
    color: #000;
    background-color: #00dcf7;
    border-color: #00dcf7;
    outline: none;
    box-shadow: none;
    font-weight: 450;
    line-height: 26px;
    margin-left: 12rem;
    margin-top:5rem;
    
}

#section1 button img{
    vertical-align: middle;
    border-style: none;
}
#section2{
    /* border: 2px solid; */
    height:100vh;
    display: flex;
}

#section2 h1{
    /* border:2px solid; */
    height: inherit;
    width:30%;
}

#section2 h1 video{
    padding: 80px;
}
#ul1{

    /* border:2px solid; */
    height: inherit;
    width:34%
}

#ul1 li h1{
    width:inherit;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

#li1{
    display: flex;
    /* border: 2px solid; */
    height:120px;
    justify-items: center;
    align-items: center;
    margin: 10px 10px;
}

#li1 h5{
    font-size: 24px;
    margin-left: 29px;
}
#li1 h5:hover{
    color: #00dcf7;
    cursor: pointer;
}
#li1 img{
    margin-left: 39px;
}

#li1 p{
    margin-left:28px;
}

#last{
    /* border: 2px solid; */
    height: inherit;
    width:35%;
    background-image: url("./images/third\ image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}

#section3{
    /* border: 2px solid ; */
    height: 100vh;
    background-color: #d7e0ea;
}
#section3 ul{
      /* border: 2px solid; */
      width:70%;
      margin: auto;
      padding-top:90px;
      margin-top:100px;
      display: flex;
      justify-content: space-evenly;
}

#section3 ul li{
    list-style: none;
    font-size:1.8rem;
    font-weight: 600;
    color: gray;
}

#section3 ul li:hover{
    color: #000;
    cursor: pointer;
}
#section3 p{
    /* border:2px solid; */
    width:400px;
    margin-top:3rem;
    margin-left:19rem;
    font-weight: 400;
    color: #171a1e;
    font-size: 20px;
    margin-bottom: 2px;
}
#section3 button{
    margin-top:50px;
    color: #071228;
    font-family: "CircularStd";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 15px 40px;
    background-color: #00dcf7;
    border-radius: 0;
    margin-left: 19rem;
    border:none;
}
#section3 button:hover{
    background-color: #000;
    color: #f1f1f1;
    cursor: pointer;
}
#para{
    /* border:2px solid; */
    height:300px;
}
#para p{
    font-size:200px;
    width:60rem;
    color:white;
    font-weight:700;
    margin-left:24rem;
    margin-top:25px;
}
#src{
    position: absolute;
    top:105rem;
    left:47rem;
}
#src img{
    height:550px;
}

#section4{
    /* border:2px solid; */
    height: 110vh;
}
#dis{
    display: flex;
    width:70%;
    margin: auto;
    margin-top:20px;
}

#section4 h1{
    text-align: center;
    padding-top:60px;
    font-size:48px;
}

#box1{
    /* border:2px solid; */
    width:350px;
    height:600px;
    margin:10px;
}
#box1 img{
    height:270px;
    padding:10px 5px;
}

#box1 h5{
    font-size:20px;
     padding:10px 5px;
}

#box1 h6{
    font-size:15px;
    font-weight:100;
    padding:10px 5px;
}
#box1 p{
    font-size:16px;
    padding:10px 5px;
    font-weight: 500;
}
#section5{
    /* border:2px solid; */
    height: 80vh;
   
}
#mar{
    width:70%;
    margin: auto;
     display: flex;
}

#footer{
    border:2px solid;
    height:70vh;
    margin-bottom:5rem;
    color: #546477;
    background-color: #071228;
}

#footer1 img{
    margin-top:20px;
    height:62px;
    padding:0 40px;
}
#footer1{
    /* border: 2px solid; */
    height: inherit;
      margin-bottom:5rem;
    width:80%;
    margin: auto;
    display: flex;
    margin-top:40px;
}
#footer1 ul li{
    list-style: none;
    line-height:2;
    cursor: pointer;
}
#ul2{
    padding-right:40px;
}
#ul2 h6{
    font-size:20px;
    font-weight:200;
    padding-bottom:10px;
}
#ul3 h6{
    font-size:20px;
    font-weight:200;
    padding-bottom:10px;
}
#h3{
    font-size:20px;
    font-weight:200;
    padding-bottom:11px;
    /* border: 2px solid; */
    width:10rem;
    height:40px;
    margin-left:40px;
}
#h4{
    font-size:18px;
    font-weight:200;
    padding-bottom:11px;
    /* border: 2px solid; */
    width:10rem;
    height:40px;
    margin-left:40px;
    position: absolute;
    left:884px;
    top:240rem;
}
#down{
    display: flex;
    /* border: 2px solid; */
    position: absolute;
    left:884px;
    top:235rem;
    margin-top:10px;
    margin-bottom:10px;
}
#down img{
    height:40px;
    /* border:2px solid; */

}
#follow{
    display: flex;
    /* border: 2px solid; */
     position: absolute;
     left:55rem;
     top:241rem;
}
#follow img{
    height:25px;
}